$body-bg: #f8f8f8 !default;
$row-color: #efefef !default;
$midrange-border-color:#cccccc !default;
$table-bg-hover: #d9edf7 !default;

div.panel-body:has(.item-picker) {
  padding: 15px 15px 0px 15px;
}

.item-picker {
  position: relative;
  .item-picker-datasets-pane, .item-picker-items-pane {
    min-height: 55rem;
  }

  ul.pagination {
    //margin:0px;
    margin: 0 0 15px 0;
  }
  .item-picker-status {
    margin: 8px 0;
  }
  ul.results-list {
    padding: 0;
    li:nth-child(even) {background: $row-color}
    li {
      list-style: none;
      padding: 0;
      a {
        padding: 0.5rem 1rem;
        display: block;
        font-size: 1rem;
        h2 {
          margin: 0;
          // width: 250px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 1.5rem;
        }
        .shared-by {
          color: $gray-dark;
        }
      }
      .item-picker-item-results-item-type {
        margin-top: 8px;
        margin-right: 10px;
      }
      &.is-selected {
        background-color: $table-bg-hover;
      }
      &.select-multiple {
        a:first-child {
          display: inline-block;
        }
        .item-picker-item-results-item-inner {
          display:inline-block;
        }
        input {
          top: -22px;
        }
      }
    }
  }

  .item-picker-radio-buttons {
    border-right: 1px solid #efefef;
    padding-left: 0px;
    padding-right: 0px;

    [type="radio"] {
      display: none;
    }
    label {
      display: block;
      cursor: pointer;
      background-color: #ffffff;
      padding: 10px;
      border-bottom: 1px solid #efefef;
      border-left: 1px solid #efefef;
      margin-bottom: 0px;
      margin-left: 15px;
    }
    label:first-of-type {
      border-top: 1px solid #efefef;
    }

    [type="radio"] + span:before {
      display: block;
    }

    .checked {
      background-color: #d2e9f9;
    }
  }

  .item-picker-current-item {
    z-index: 1;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 55%;
    right: 0;
    bottom: 0;
    min-height: 355px;
    margin-bottom: -15px;
    background-color: $body-bg;
    border-top: solid 1px $midrange-border-color;
    border-left: solid 1px $midrange-border-color;
    box-shadow: -6px 0px 6px -6px $midrange-border-color;
    .item-picker-current-item-preview {
      position: absolute;
      height: calc(85% - 70px);
      width: calc(100% - 30px);
      top: 1em;
      bottom: 10%;
      overflow: auto;
      img {
        height: 133px;
      }
      h2 {
        font-size: 1.8rem;
        color: #4c4c4c;
        margin: 0px auto 0.5rem auto;
        font-weight: 500;
      }
      .shared-by-owner {
        font-size: 1.25rem;
        display: inline-block;
        margin: 0px auto 20px auto;
      }
      .item-picker-current-item-preview-description {
        overflow: hidden;
        max-height: 55px;
      }

      .item-picker-current-item-preview-meta {
        margin: 20px auto;
        .glyphicon {
          margin-right: 5px;
        }

      }
    }

    .item-picker-controls {
      position: absolute;
      bottom: 0px;
      right: 0px;
      width: 100%;
      border-spacing: 15px;
      background-color: #fff;
      padding-top: 15px;
      .full-width-btn {
        padding-left:15px;
        padding-right:15px;
        div {
          display: table-row;
          display: block;
        }
      }
      .side-by-side {
        display:table;
        width: 100%;
        div {
          display:table-row;
        }
        a {
          display: table-cell;
          width: 50%;
          white-space: normal;
        }
        button {
          display: table-cell;
          width: 100%;
          white-space: normal;
        }
      }
    }

      .item-picker-current-dataset-preview-field-list {
        list-style:none;
        padding:0;
        margin:0;
        li {
          float:left;
          margin: 5px 5px 5px 0;
          border: 1px solid $midrange-border-color;
          padding: 0;
          text-align: center;
          outline: 0px solid transparent;
          width: auto;
          -moz-transition: border-color 1s ease-in, outline 1s ease-in;    /* FF3.7+ */
          -o-transition: border-color 1s ease-in, outline 1s ease-in;      /* Opera 10.5 */
          -webkit-transition: border-color 1s ease-in, outline 1s ease-in; /* Saf3.2+, Chrome */
          transition: border-color 1s ease-in, outline 1s ease-in;
          &.fade-outline {
            border-color: $link-color;
            outline: 1px solid $link-color;
          }

          .chart-button {
            background: none;
            border: none;
            padding: 10px;
            &:hover {
              background-color: $link-color;
              color: #FFFFFF;
              fill: #FFFFFF;
            }
            &:focus{
              background-color: $link-color;
              color: #FFFFFF;
              fill: #FFFFFF;
            }
            svg {
              display: inline-block;
              margin: 0 auto;
              height: 12px;
              width: 12px;
            }
          }
        }
      }


  }
}
