@charset "UTF-8";

[data-icon]:before {
  font-family: "hub" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  // position: relative;
  // top: 1px;
  // display: inline-block;
  font-family: "hub" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-datasets-category:before {
  content: "\36";
}
.icon-storymap-category:before {
  content: "\37";
}
.icon-publish-initiative:before {
  content: "\38";
}
.icon-geo-field-type:before {
  content: "\39";
}
.icon-normalized-field-type:before {
  content: "\58";
}
.icon-number-field-type:before {
  content: "\55";
}
.icon-percentage-field-type:before {
  content: "\56";
}
.icon-time-field-type:before {
  content: "\59";
}
.icon-category-field-type:before {
  content: "\69";
}
.icon-reduce-init-theme:before {
  content: "\6a";
}
.icon-bicycle-init-theme:before {
  content: "\6b";
}
.icon-business-init-theme:before {
  content: "\6c";
}
.icon-city-init-theme:before {
  content: "\6d";
}
.icon-city-init-theme2:before {
  content: "\6e";
}
.icon-calculator:before {
  content: "\6f";
}
.icon-date-field-type:before {
  content: "\70";
}
.icon-transportation-init-theme:before {
  content: "\71";
}
.icon-link:before {
  content: "\72";
}
.icon-unlink:before {
  content: "\73";
}
.icon-clock:before {
  content: "\74";
}
.icon-clone:before {
  content: "\75";
}
.icon-cloud:before {
  content: "\76";
}
.icon-spinner:before {
  content: "\77";
}
.icon-sliders:before {
  content: "\78";
}
.icon-sign-out:before {
  content: "\79";
}
.icon-infrastructure-init-theme:before {
  content: "\7a";
}
.icon-medkit:before {
  content: "\41";
}
.icon-lock:before {
  content: "\42";
}
.icon-home:before {
  content: "\43";
}
.icon-string-init-theme:before {
  content: "\44";
}
.icon-flash:before {
  content: "\45";
}
.icon-eye:before {
  content: "\46";
}
.icon-copy:before {
  content: "\47";
}
.icon-comments:before {
  content: "\48";
}
.icon-cloud-upload:before {
  content: "\49";
}
.icon-hunger-init-theme:before {
  content: "\4a";
}
.icon-table:before {
  content: "\4b";
}
.icon-logistics-init-theme:before {
  content: "\4c";
}
.icon-education-init-theme:before {
  content: "\4d";
}
.icon-unlock:before {
  content: "\4e";
}
.icon-unlock-alt:before {
  content: "\4f";
}
.icon-usd:before {
  content: "\50";
}
.icon-users:before {
  content: "\51";
}
.icon-a11y-init-theme:before {
  content: "\52";
}
.icon-placeholder-category:before {
  content: "\53";
}
.icon-checkbox-circle:before {
  content: "\54";
}
.icon-analysis-category:before {
  content: "\61";
}
.icon-app-category:before {
  content: "\62";
}
.icon-custom-category:before {
  content: "\57";
}
.icon-dashboard-category:before {
  content: "\63";
}
.icon-org-sharing:before {
  content: "\64";
}
.icon-public-sharing:before {
  content: "\65";
}
.icon-survey-category:before {
  content: "\66";
}
.icon-team-sharing:before {
  content: "\67";
}
.icon-webmap-category:before {
  content: "\68";
}
.icon-environment-init-theme:before {
  content: "\34";
}
.icon-add-custom-initiative:before {
  content: "\35";
}
.icon-layers:before {
  content: "\5a";
}
.icon-pin:before {
  content: "\30";
}
.icon-online:before {
  content: "\31";
}
.icon-category-hubsite:before {
  content: "\22";
}
.icon-category-hubpage:before {
  content: "\23";
}
.icon-private-sharing:before {
  content: "\33";
}