<a href="" {{action 'selectItem' model}}>
  <div class="item-picker-item-results-item-inner">
    <h2 data-toggle="tooltip" title="{{model.title}}">
      {{model.title}}
    </h2>
    <div class="shared-by">
      {{model.owner}}
    </div>
  </div>
</a>
