<span class="pull-right item-picker-item-results-item-type">{{typeOfData}}</span>
<a href="" {{action 'selectItem' model}}>
  <div class="item-picker-item-results-item-inner">
    <h2>
      {{model.title}}
    </h2>
    <div class="shared-by">
      howdy
      {{model.owner}}
    </div>
  </div>
</a>
