<div class="layer-picker-list">
  <ul class="nav nav-pills nav-stacked">
    {{#each model as |layer|}}
      {{item-picker/layer-picker-row
        layer=layer
        selectable=selectable
        onLayerSelected=(action onLayerSelected)
      }}
    {{/each}}
  </ul>
</div>
