<div class="row">
  <div class="col-sm-12">
    <h2>Faceting by type</h2>
  </div>

  <div class="col-sm-12">
    <h3>Inline Panel Example</h3>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Search ArcGIS.com for Items</h3>
      </div>
      <div class="panel-body">
        {{item-picker
          catalog=catalog
          portalHostName=url
          searchItemsOnInit=true
          previewParams=previewParams 
          selectAction=(action "onSelectItem")}}
      </div>
    </div>
  </div>
</div>
